/* 

Archivo principal SCSS
Importando parciales

*/
/* 

    Variables para los atributos generales

*/
/* 

VARIABLE FLEX-BOX

*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #533010;
  font-size: 14px;
}

a, a:visited {
  color: #533010;
  text-decoration: none;
}

h2 {
  font-size: 2em;
}

h1 {
  background: linear-gradient(to right, #4C2D10, #7F5427, #99652d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 5px;
  animation-name: animacion_titulo;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

@keyframes animacion_titulo {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.5;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

/* 
**************

    Header

**************
*/
nav, .gralHeader {
  box-shadow: 0px 5px 7px #9c9898;
  position: sticky;
  top: 0px;
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(2px);
}

.navbar {
  min-height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 1em;
  list-style: none;
}

.navbar__menu li a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #533010;
  transition: font-size 0.5s;
}

.navbar__menu li a:hover {
  font-size: 1.1em;
}

.burguer {
  display: none;
}

.burguer div {
  width: 25px;
  height: 3px;
  background-color: #533010;
  margin: 5px;
}

/* 
******************

    homeHeader

******************
*/
#header {
  height: 23vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#homeTitle {
  font-size: 1.8em;
  /* letter-spacing: 5px; */
}

/* 
******************

    Home Page

******************
*/
#homeMain {
  height: 70vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 30px 20% 20% 30% 20% 10%;
  grid-template-areas: ".      .       .   .       ." "title title title imgProd imgProd" "desc desc desc imgProd imgProd" "desc desc desc imgProd imgProd" "btn btn btn imgProd imgProd" ".      .   .   .       .";
}

#hmProdTitle {
  grid-area: title;
  padding: 10px 40px 0px 15%;
}

#hmProdDesc {
  grid-area: desc;
  padding: 0px 40px 0px 15%;
  font-size: 1.1em;
  overflow: hidden;
}

#prodBtn {
  padding-right: 40px;
  grid-area: btn;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#prodBtn button {
  margin: 0px 5px 0px 15px;
  height: 70px;
  width: 110px;
  border-radius: 10px;
  font-size: 1.2em;
  letter-spacing: 1px;
  box-shadow: 0px 3px 5px #9c9898;
}

#prodBtn button:hover {
  cursor: pointer;
}

#buyBtn {
  background-color: #7F5427;
  color: #FFF;
  border: 1px solid #4C2D10;
}

#moreBtn {
  background-color: #FFF;
  border: 1px solid #4C2D10;
  color: #7F5427;
}

.imgProd {
  margin-right: 15%;
  grid-area: imgProd;
  padding-top: 20px;
}

.imgProd img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  box-shadow: 0px 3px 5px #9c9898;
}

/* 
CARROUSEL SECTION CARROUSEL SECTION CARROUSEL SECTION
*/
#carrouselSec {
  margin-top: 10vh;
  height: 50vh;
}

.carrousel {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  height: 40vh;
  width: 80vw;
  margin: 0px auto;
  gap: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #9c9898;
}

.carrousel ul {
  list-style: none;
}

.mainCarr {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  scroll-behavior: smooth;
  animation: carrouselAuto 20s infinite normal;
  animation-timing-function: ease-in;
}

.mainCarr__cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40vw;
  height: 99%;
  border-radius: 10px;
  box-shadow: 0px 5px 7px #9c9898;
}

.mainCarr__cards--img {
  width: 50%;
  object-fit: contain;
  height: 100%;
  border-radius: 10px;
}

.mainCarr__cards p {
  padding: 10px;
}

@keyframes carrouselAuto {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  20% {
    margin-left: -85%;
  }
  50% {
    margin-left: -110%;
  }
  55% {
    margin-left: -195%;
  }
  85% {
    margin-left: -210%;
  }
  90% {
    margin-left: -275%;
  }
  100% {
    margin-left: -300%;
  }
}

/* 

********************
    Product Page
********************

*/
.mainProd {
  height: 120vh;
  display: grid;
  grid-template-columns: 5% 75% 3% 15% 7%;
  grid-template-areas: ". product . aside .";
}

.sectProd {
  grid-area: product;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.sectProd__box {
  height: 22%;
  display: flex;
  border-radius: 10px;
  font-size: 1.1em;
  box-shadow: 0px 5px 7px #9c9898;
}

.sectProd__box div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.sectProd__box span {
  font-size: 1.5em;
  color: #533010;
}

.sectProd__box p {
  color: black;
  padding-left: 2%;
}

.sectProd__box h3 {
  padding-left: 1%;
}

.sectProd__box--price {
  color: #0ace1d;
  font-size: 1.2em;
}

.box__img {
  width: 30%;
  height: 100%;
}

.box__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.anuncioProd {
  grid-area: aside;
  margin: auto 0px;
  height: 96%;
  border: 1px solid #4C2D10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.anuncioProd__container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 15px #9c9898;
}

.anuncioProd__container h4 {
  font-size: 2em;
  position: absolute;
  z-index: 10000;
}

.anuncioProd__container img {
  height: 100%;
  width: 100%;
}

/* 

******************
    About Us
******************

*/
#aboutUs {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aboutUs div {
  display: flex;
  align-items: center;
  margin: 5px 35px;
  height: 28%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #9c9898;
}

#aboutUs div:nth-child(3) {
  flex-direction: row-reverse;
}

#aboutUs iframe {
  height: 100%;
  border-radius: 10px;
}

#aboutUs img {
  height: 100%;
  border-radius: 10px;
}

#aboutUs p {
  margin: 0px 10px;
}

#aboutUs span {
  font-size: 1.4em;
}

/* 

****************
    Footer
****************

*/
footer {
  height: 25vh;
  font-size: 0.9em;
  border-top: 1px solid #4C2D10;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 40% 20%;
  grid-template-areas: "form icons" "form info" "copyr copyr";
}

#footerForm {
  grid-area: form;
  margin: 10px 0px 0px 5%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #4C2D10;
}

#footerForm div {
  margin-top: 10px;
}

#footerIcons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#footerIcons div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  border: 1px solid #4C2D10;
  box-shadow: 0px 3px 5px #9c9898;
}

#footerIcons div:active {
  height: 18px;
  width: 18px;
  background-color: #7F5427;
  border: none;
}

#footerIcons div a:active {
  color: #FFF;
}

#footerInfo {
  grid-area: info;
  margin: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footerCopy {
  grid-area: copyr;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

/* 

*******************
    REPONSIVE
*******************

*/
@media screen and (max-width: 1024px) {
  #carrouselSec {
    margin-top: 10vh;
    height: 50vh;
    width: 100%;
    /* background: linear-gradient(to bottom, white, white, #7f5427); */
  }
  .carrousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40vh;
    width: 80vw;
    margin: 0px auto;
    gap: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #9c9898;
  }
  .carrousel ul {
    list-style: none;
  }
  .mainCarr {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    scroll-behavior: smooth;
    animation: carrouselAuto 20s infinite normal;
    animation-timing-function: ease-in;
  }
  .mainCarr__cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40vw;
    height: 99%;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 3px 7px #9c9898;
  }
  .mainCarr__cards--img {
    width: 50%;
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 0px 3px 8px rgb(0, 0, 0);  */
  }
  .mainCarr__cards p {
    padding: 10px;
  }
  @keyframes carrouselAuto {
    0% {
      margin-left: 0;
    }
    10% {
      margin-left: 0;
    }
    20% {
      margin-left: -85%;
    }
    50% {
      margin-left: -110%;
    }
    55% {
      margin-left: -195%;
    }
    85% {
      margin-left: -210%;
    }
    90% {
      margin-left: -275%;
    }
    100% {
      margin-left: -300%;
    }
  }
}

@media screen and (max-width: 501px) {
  #header {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    background: linear-gradient(to right, #4C2D10, #7F5427, #99652d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
    font-size: 2em;
  }
  .navbar__menu {
    width: 100%;
    display: flex;
    font-size: 0.8em;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  }
  #homeMain {
    padding-top: 5%;
    height: 75vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 30% 20% 20% 20%;
    grid-template-areas: "title title title title title" "imgProd imgProd imgProd imgProd imgProd" "imgProd imgProd imgProd imgProd imgProd" "desc desc desc desc desc" "btn btn btn btn btn";
  }
  #hmProdTitle {
    font-size: 2em;
    margin: 0px 27% 0px auto;
    /* text-align: center; */
  }
  #hmProdDesc {
    margin: 0px auto;
    font-size: 0.9em;
    overflow: hidden;
  }
  #prodBtn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  #prodBtn button {
    margin: 10px 0px 0px 15px;
    height: 50px;
    width: 90px;
    border-radius: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    box-shadow: 0px 3px 5px #9c9898;
  }
  .imgProd {
    width: 70%;
    height: 100%;
    margin: 0px auto;
    grid-area: imgProd;
  }
  .imgProd img {
    border-radius: 50%;
    height: 95%;
    width: 100%;
    box-shadow: 0px 1px 3px #9c9898;
  }
  /* 
    
    CARROUSEL SECTION CARROUSEL SECTION CARROUSEL SECTION
    
    */
  #carrouselSec {
    margin-top: 10vh;
    height: 50vh;
    width: 100%;
    /* background: linear-gradient(to bottom, white, white, #7f5427); */
  }
  .carrousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40vh;
    width: 95vw;
    margin: 0px auto;
    gap: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #9c9898;
  }
  .carrousel ul {
    list-style: none;
  }
  .mainCarr {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    scroll-behavior: smooth;
    animation: carrouselAuto 25s infinite normal;
    animation-timing-function: ease-in;
  }
  .mainCarr__cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 95vw;
    height: 99%;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 5px 15px #9c9898;
  }
  .mainCarr__cards--img {
    width: 50%;
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 0px 3px 8px rgb(0, 0, 0);  */
  }
  .mainCarr__cards p {
    padding: 10px;
  }
  @keyframes carrouselAuto {
    0% {
      margin-left: 0;
    }
    5% {
      margin-left: 0;
    }
    7% {
      margin-left: -85%;
    }
    22% {
      margin-left: -110%;
    }
    25% {
      margin-left: -195%;
    }
    40% {
      margin-left: -210%;
    }
    42% {
      margin-left: -285%;
    }
    57% {
      margin-left: -310%;
    }
    60% {
      margin-left: -385%;
    }
    75% {
      margin-left: -410%;
    }
    78% {
      margin-left: -485%;
    }
    90% {
      margin-left: -505%;
    }
    93% {
      margin-left: -575%;
    }
    100% {
      margin-left: -600%;
    }
  }
  /* 
    
    PRODUCT-RESPONSIVE PRODUCT-RESPONSIVE PRODUCT-RESPONSIVE
    PRODUCT-RESPONSIVE PRODUCT-RESPONSIVE PRODUCT-RESPONSIVE
    PRODUCT-RESPONSIVE PRODUCT-RESPONSIVE PRODUCT-RESPONSIVE

    */
  .mainProd {
    height: 120vh;
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 88% 10% 2%;
    grid-template-areas: ". product ." "aside aside aside" ".  .   .";
  }
  .sectProd {
    grid-area: product;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .sectProd__box {
    height: 22%;
    border: none;
    display: flex;
    border-radius: 10px;
    font: 0.9em;
  }
  .sectProd__box div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .sectProd__box p {
    color: black;
    padding-left: 2%;
    font-size: 0.9em;
  }
  .sectProd__box h3 {
    padding-left: 1%;
    font-size: 1.1em;
  }
  .sectProd__box--price {
    color: #0ace1d;
    font-size: 1.1em;
  }
  .box__img {
    width: 100%;
    height: 100%;
    border: 1px solid #4C2D10;
    border-radius: 10px;
  }
  .box__img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  .anuncioProd {
    grid-area: aside;
    margin: auto;
    height: 100%;
    width: 99%;
    border: 1px solid #4C2D10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* 
    
    FOOTER-RESPONSIVE FOOTER-RESPONSIVE FOOTER-RESPONSIVE
    FOOTER-RESPONSIVE FOOTER-RESPONSIVE FOOTER-RESPONSIVE
    FOOTER-RESPONSIVE FOOTER-RESPONSIVE FOOTER-RESPONSIVE
    
    */
  footer {
    height: 25vh;
    font-size: 0.7em;
    border-top: 1px solid #4C2D10;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "form icons" "form info" "copyr copyr";
  }
  #footerForm {
    grid-area: form;
    margin: 10px 5px 0px 5%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #4C2D10;
  }
  #footerForm div {
    margin-top: 10px;
  }
  #footerIcons {
    grid-area: icons;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #footerIcons div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid #4C2D10;
    box-shadow: 0px 1px 3px #9c9898;
  }
  #footerIcons div:active {
    height: 23px;
    width: 23px;
    background-color: #7F5427;
    color: #FFF;
    border: none;
  }
  #footerIcons a:active {
    color: #FFF;
  }
  #footerInfo {
    grid-area: info;
    margin: 0px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footerCopy {
    grid-area: copyr;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
  }
}
/*# sourceMappingURL=style.css.map */