/* 
**************

    Header

**************
*/


nav, .gralHeader{
    box-shadow: map-get($box-shadow, gral);
    position: sticky;
    top: 0px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), 
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(2px);
}

.navbar{
    min-height: 7vh;
    width: $full;
    @include flexBox(row, space-around);

    &__menu{
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        @include flexBox(row, space-around, center);
        width: $full;
        font-size: 1em;
        list-style: none;

        & li a{
            text-decoration: none;
            letter-spacing: 1px;
            color: #533010;
            transition: font-size 0.5s;

            &:hover{
                font-size: 1.1em;
            }
        }
    }
}

.burguer{
    display: none;

    & div{
        width: 25px;
        height: 3px;
        background-color:#533010;
        margin: 5px;
    }
}

