/* 
**************

    Header

**************
*/


nav, .gralHeader{
    box-shadow: 0px 5px 7px rgb(156, 152, 152);
    position: sticky;
    top: 0px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), 
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(2px);
}

.navbar{
    min-height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-around;

    &__menu{
        width: 100%;
        display: flex;
        font-size: 1em;
        align-items: center;
        justify-content: space-around;
        list-style: none;

        & li a{
            text-decoration: none;
            letter-spacing: 1px;
            color: #533010;
            transition: font-size 0.5s;

            &:hover{
                font-size: 1.1em;
            }
        }
    }
}

.burguer{
    display: none;

    & div{
        width: 25px;
        height: 3px;
        background-color:#533010;
        ;
        margin: 5px;
    }
}

