/* 
******************

    homeHeader

******************
*/

#header{
    height: 23vh;
    @include flexBox();
}

#homeTitle{
    font-size: 1.8em;
}

/* 
******************

    Home Page

******************
*/


#homeMain{
    height: 70vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30px 20% 20% 30% 20% 10%;
    grid-template-areas: 
    ".      .       .   .       ."
    "title title title imgProd imgProd"
    "desc desc desc imgProd imgProd"
    "desc desc desc imgProd imgProd"
    "btn btn btn imgProd imgProd"
    ".      .   .   .       .";
}

#hmProdTitle{
    grid-area: title;
    padding: 10px 40px 0px 15%;
}

#hmProdDesc{
    grid-area: desc;
    padding: 0px 40px 0px 15%;
    font-size: 1.1em;
    overflow: hidden;
}

#prodBtn{
    padding-right: 40px;
    grid-area: btn;
    @include flexBox(row, end);

    & button{
        margin: 0px 5px 0px 15px;
        height: 70px;
        width: 110px;
        border-radius: $brd-rds;
        font-size: 1.2em;
        letter-spacing: 1px;
        box-shadow: map-get($box-shadow, min);

        &:hover{
            cursor: pointer;
        }
    }
}

#buyBtn{
    background-color: #7F5427;
    color: #FFF;
    border: $brd-gral;
}

#moreBtn{
    background-color: #FFF;
    border: $brd-gral;
    color: #7F5427;
}

.imgProd{
    margin-right: 15%;
    grid-area: imgProd;
    padding-top: 20px;

    & img{
        border-radius: $half;
        height: $full;
        width: $full;
        box-shadow: map-get($box-shadow, min);
    }
}



/* 
CARROUSEL SECTION CARROUSEL SECTION CARROUSEL SECTION
*/


#carrouselSec{
    margin-top: 10vh;
    height: 50vh;
}

.carrousel{
    @include flexBox(column, end, flex-start);
    //"ALIGN-ITEMS:START" IMPORTANTISIMO, DE OTRO MODO SE ROMPE EL CARROUSEL
    height: 40vh;
    width: 80vw;
    margin: map-get($margin-ctr, sides);
    gap: 10px;
    overflow: hidden;
    border-radius: $brd-rds;
    box-shadow: map-get($box-shadow, max);

    & ul{
        list-style: none;
    }
}



.mainCarr{
    display: flex;
    overflow: hidden;
    border-radius: $brd-rds;
    scroll-behavior: smooth;
    animation: carrouselAuto 20s infinite normal;
    animation-timing-function: ease-in;

    &__cards{
        @include flexBox(row, flex-start, flex-start);
        width: 40vw;
        height: 99%;
        border-radius: $brd-rds;
        box-shadow: map-get($box-shadow, gral);

        &--img{
            width: $full/2;
            object-fit: contain;
            height: $full;
            border-radius: $brd-rds;
        }

        & p{
            padding: 10px;
        }
    }
}

@keyframes carrouselAuto {
    0%{margin-left: 0;}
    10%{margin-left: 0;}

    20%{margin-left: -85%}
    50%{margin-left: -110%}

    55%{margin-left: -195%}
    85%{margin-left: -210%}

    90%{margin-left: -275%}
    100%{margin-left: -300%}
} 
