/* 

********************
    Product Page
********************

*/

.mainProd{
    height: 120vh;
    display: grid;
    grid-template-columns: 5% 75% 3% 15% 7%;
    grid-template-areas: ". product . aside .";
}

.sectProd{
    grid-area: product;
    @include flexBox(column, space-evenly, flex-start);

    &__box{
        height: 22%;
        // border: $brd-gral;
        display: flex;
        border-radius: $brd-rds;
        font-size: 1.1em;
        box-shadow: map-get($box-shadow, gral);

        & div{
            @include flexBox(column, space-evenly, flex-start);
        }

        & span{
            font-size: 1.5em;
            color: #533010;
        }

        & p{
            color: black;
            padding-left: 2%;
        }

        & h3{
            padding-left: 1%;
        }

        &--price{
            color: #0ace1d;
            font-size: 1.2em;
        }
    }
}

.box__img{
    width: $full*0.3;
    height: $full;

    & img{
        border-radius: $brd-rds;
        width: $full;
        height: $full;
    }
}

.anuncioProd{
    grid-area: aside;
    margin: map-get($margin-ctr, top);
    height: 96%;
    border: $brd-gral;
    @include flexBox();

    &__container{
        height: $full;
        @include flexBox();
        box-shadow: map-get($box-shadow, max);

        & h4{
            font-size: 2em;
            position: absolute;
            z-index: 10000;
        }

        & img{
            height: $full;
            width: $full;
        }
    }
}




