/* 

********************
    Product Page
********************

*/

.mainProd{
    height: 120vh;
    display: grid;
    grid-template-columns: 5% 75% 3% 15% 7%;
    grid-template-areas: ". product . aside .";
}

.sectProd{
    grid-area: product;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__box{
        height: 22%;
        border: $brd-gral;
        display: flex;
        border-radius: $brd-rds;
        font-size: 1.1em;
        box-shadow: $box-shadow-min;

        & div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        & span{
            font-size: 1.5em;
            color: #533010;
        }

        & p{
            color: black;
            padding-left: 2%;
        }

        & h3{
            padding-left: 1%;
        }

        &--price{
            color: #0ace1d;
            font-size: 1.2em;
        }
    }
}

.box__img{
    width: 30%;
    height: $full;

    & img{
        border-radius: $brd-rds;
        width: $full;
        height: $full;
    }
}

.anuncioProd{
    grid-area: aside;
    margin: $mrg-ctr-top;
    height: 96%;
    border: $brd-gral;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container{
        height: $full;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $box-shadow-max;

        & h4{
            font-size: 2em;
            position: absolute;
            z-index: 10000;
        }

        & img{
            height: 100%;
            width: 100%;
        }
    }
}




